.primer-rectangulo {
  height: 150px;
  width: 900px;
  left: 289px;
  top: 10px;
  margin: 0px 0px 0px 250px;
}

.modo {
  height: 43px;
  width: 148px;
  left: 973px;
  top: 38px;
  border-radius: 61px;
  border: 1px solid #6809e1;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background-color: white;
  color: #6809e1;
  transition: all 1s ease;
}

.dark .modo {
  border: 1px solid white;
  background-color: rgb(44, 42, 42);
  color: white;
}

.Gifos {
  position: absolute;
  top: 38px;
}
